.main-title{
    background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.featured-img{
  position: absolute;
  right: 25px;
  top: 150px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
}
.featured-text{
  color:white;
  text-align: start;
  position: relative;
  margin: 250px 20px;
}
.featured-headline{
  font-size: 24pt;
}