.footer-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: $primary-color;

    &__radio{
        background: $gradient-color;
        height: 55px;
        width: 55px;
        border-radius: 50px;
        display:flex;
        justify-content: center;
        align-items:center;
    }

.footer-icon__mic:active{
    color: $secondary-color;
}
.footer-icon__radio{
        height:40px;
        width:40px;
        color:white;
}
}