<footer>
    <div class="footer-main">
        <ion-icon name="pulse-outline" class="footer-icon__activity"></ion-icon>
        <ion-icon name="mic-outline" class="footer-icon__mic"></ion-icon>
        <div class="footer-main__radio"><ion-icon name="radio-outline" class="footer-icon__radio"></ion-icon></div>
        <ion-icon name="contrast-outline" class="footer-icon__mode"></ion-icon>
        <ion-icon name=settings-outline class="footer-icon__settings"></ion-icon>
    </div>
</footer>