<footer>
    <div class="footer-main">
        <a href="/albums/index.html" class="navigation-links"><ion-icon name="albums" class="footer-icon__albums"></ion-icon></a>
        <a href="/playlists/index.html" class="navigation-links"><ion-icon name="list" class="footer-icon__playlist"></ion-icon></a>
        <a href="/index.html" class="navigation-links"><div class="footer-main__featured"><ion-icon name="star" class="footer-icon__featured"></ion-icon></div></a>
        <ion-icon onclick="switchMode()" name="contrast-outline" class="footer-icon__mode"></ion-icon>
        <a href="/categories/index.html" class="navigation-links"><ion-icon name="grid" class="footer-icon__categories"></ion-icon></a>
    </div>
</footer>