<header>
  <div class="header">
    <ion-icon name="chevron-back-outline" class="header-icon__back"></ion-icon>
    <p class="header-title">Featured</p>
    <ion-icon name="search-outline" class="header-icon__search"></ion-icon>
  </div>
</header>