<%- include('../partials/before-header.ejs') %>
<body class="albums-details">
    <main>
        <article class="albums-container">
            <div class="header-white">
                <ion-icon name="chevron-back-outline" class="header-icon__back"></ion-icon>
                <p class="header-title">ALBUM</p>
              </div>
            <div class="album-details">
                <h2 class="featured-headline">The Greatest Showman</h2>
                <p class="featured-subline">Soundtrack</p>
                <img class="album-cover-img" src="/assets/img/set-it-off--500x333.jpg">
                <p class="genre-hashtags">Genres hashtags</p>
                <button class="album-btn">#rock</button>
                <button class="album-btn">#alternative rock</button>
            </div>
            <div class="albums-content">
                <p class="albums-subline_text">All Songs</p>

                <div class="albums-text">
                    <div class="albums-play">
                        <ion-icon class="albums-play_icon" name="play-sharp"></ion-icon>
                    </div>
                        <div class="albums-text_container">
                            <p class="albums-text_title">Hourglass</p>
                            <p class="albums-text_artist">Set It Off</p>
                        </div>
                        <div class="song-time"><p>14 songs</p></div>
                </div>
                <div class="albums-text">
                    <div class="albums-play">
                        <ion-icon class="albums-play_icon" name="play-sharp"></ion-icon>
                    </div>
                        <div class="albums-text_container">
                            <p class="albums-text_title">Hourglass</p>
                            <p class="albums-text_artist">Set It Off</p>
                        </div>
                        <div class="song-time"><p>14 songs</p></div>
                </div>
                <div class="albums-text">
                    <div class="albums-play">
                        <ion-icon class="albums-play_icon" name="play-sharp"></ion-icon>
                    </div>
                        <div class="albums-text_container">
                            <p class="albums-text_title">Hourglass</p>
                            <p class="albums-text_artist">Set It Off</p>
                        </div>
                        <div class="song-time"><p>14 songs</p></div>
                </div>
                <div class="albums-text">
                    <div class="albums-play">
                        <ion-icon class="albums-play_icon" name="play-sharp"></ion-icon>
                    </div>
                        <div class="albums-text_container">
                            <p class="albums-text_title">Hourglass</p>
                            <p class="albums-text_artist">Set It Off</p>
                        </div>
                        <div class="song-time"><p>14 songs</p></div>
                </div>
            </div>
        </article>
    </main>
</body>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>