<%- include('../partials/before-header.ejs') %>
<%- include('../partials/header.ejs', {title: "Music"})  %>
<main>
    <h1 class="main-title">All Songs</h1>
    <article class="songs-container">
        <div class="songs-text">
            <div class="songs-play"><ion-icon class="songs-play_icon"name="play"></ion-icon></div>
                <div class="songs-text_container">
                    <p class="songs-text_title">CREATURES</p>
                    <p class="songs-text_artist">Shinedown</p>
                </div>
                <div class="songs-time"><p>3:56</p></div>
        </div>
    </article>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>