<%- include('../partials/before-header.ejs') %>
<%- include('../partials/header.ejs', {title: "Categories"})  %>
<main>
    <h1 class="main-title">Categories</h1>
    <article class="categories-container">
        <div class="categories-text">
            <button class="categories-button categories-button_pink">Alternative<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_orange">Blues<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_golden">Classical<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_yellow">Country<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_lime">Dance<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_green">Electronic<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_turquoise">Fitness & Workout<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_blue">Hip-Hop/Rap<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
            <button class="categories-button categories-button_navy">Industrial<ion-icon class="categories-button_icon" name="ellipsis-horizontal"></ion-icon></button>
        </div>
    </article>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>