<%- include('../partials/before-header.ejs') %>
<%- include('../partials/header.ejs')  %>
<main>
    <h1 class="main-title">Categories</h1>
    <article class="categories-container">
        <div class="categories-text">
            <button class="categories_button">Alternative<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Blues<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Classical<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Country<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Dance<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Electronic<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Fitness & Workout<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Hip-Hop/Rap<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
            <button class="categories_button">Industrial<ion-icon name="ellipsis-horizontal-outline"></ion-icon></button>
        </div>
    </article>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>