<%- include('../partials/before-header')  %>
<%- include('../partials/header.ejs', {title: "Featured"})  %>
<main>
    <h1 class="main-title">Featured</h1>
    <article class="featured-container">
        <img class="featured-img" src="https://via.placeholder.com/325x425" alt="placeholder">
        <div class="featured-text">
            <h2 class="featured-headline">The Greatest Showman</h2>
            <p class="featured-genre">Soundtrack</p>
        </div>
    </article>

    <article class="featured-container">
        <img class="featured-img" src="https://via.placeholder.com/325x425" alt="placeholder">
        <div class="featured-text">
            <h2 class="featured-headline">The Greatest Showman</h2>
            <p class="featured-genre">Soundtrack</p>
        </div>
    </article>
</main>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>