<%- include('../partials/before-header')  %>
<%- include('../partials/header.ejs', {title: "Featured"})  %>
<main>
    <h1 class="main-title">Featured</h1>
</main>
<div class="observeMe"></div>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/featured.js"></script>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>