<%- include('../partials/before-header.ejs') %>
<main>
    <div class="loading-screen">
        <img class="loading-screen_logo" src="/assets/img/music-logo-solid.png">
        <h1 class="loading-screen_title">iPlay Music</h1>
    </div>
</main>
<%- include('../partials/after-footer.ejs') %>