*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0 25px;
}

ion-icon{
    height:30px;
    width:30px;
}

$primary-color: #FF1168;
$secondary-color: #341931;
$additional-color: #111625;
$gradient-color:linear-gradient(to right,#ee0979,#ff6a00);

