.featured-container{
    text-align: center;
}
.darkmode{
    background-color:$secondary-color;
    color:white;
}
.navigation-links{
    text-decoration: none;
    color:$primary-color;
    display:flex;
    align-items: center;
}